.banner {
  padding-top: 240px;
  padding-bottom: 180px;

  .bannerBlock {
    width: $inner-width;
    margin: auto;
    display: flex;
    padding: 24px;
  }

  .title {
    @include fs48b;
    position: relative;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
  }

  .content {
    @include fs24;
    margin-top: 24px;
  }

  .left {
    width: 600px;
    flex: none;
  }

  .right {
    padding-top: 80px;
  }

  .bannerButton {
    @include bannerBtn;
  }
}

.secondBlockWrapper {
  background-color: #f8f8f8;
  .block {
    width: $inner-width;
    margin: auto;
    padding: 100px 24px;
  }

  .blockTitle {
    @include fs40b;
    text-align: center;
  }

  .blockContent {
    @include fs24;
    margin-top: 24px;
    text-align: center;
    position: relative;
  }

  .profile {
    display: block;
    width: 1140px;
    margin: 30px auto;
  }
}

.blockWrapper {
  .block {
    width: $inner-width;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 24px;

    > div {
      flex: 1;
    }

    .right {
      margin-left: 130px;
    }
  }

  .blockTitle {
    @include fs40b;
  }

  .blockContent {
    @include fs24;
    margin-top: 24px;
  }

  &.gray {
    background-color: #f8f8f8;
  }

  .howItWorkTitle {
    @include fs24b;
  }

  .item {
    @include fs40;
    margin-top: 80px;
    width: 534px;
  }
}

.createProfileWrapper {
  background-color: #f6f6f6;

  .block {
    display: block;
    text-align: center;
  }

  .createButton {
    width: 404px;
    height: 100px;
    border-radius: 20px;
    @include fs24b;
    background-color: #007aff;
    border-color: #007aff;
    &:hover,
    &:focus {
      background-color: #007aff;
      border-color: #007aff;
    }
  }
}
