.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
}

.avatarContainer {
  position: absolute;
  right: 40px;
  top: 20px;
  img {
    border-radius: 8px;
  }
}

.left {
  width: 240px;
  flex: none;
}

.right {
  flex: 1;
  overflow: auto;
  padding-bottom: 40px;
}

.innerContainer {
  padding: 0 10px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 22px 28px;
  border-bottom: 1px solid $gray-border;
}
