:global(.ant-form-item-has-error) {
  .inputWrapper {
    border: 1px solid #ff4d4f;
  }
}

.inputWrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px 20px;
  input {
    padding: 0;
  }

  :global(.ant-input-number) {
    width: 100%;
  }
}

.inputLabel {
  color: rgba(0, 0, 0, 0.4);
  @include fs12;
}
