.table {
  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .headerColumn {
    flex: none;
    color: rgba(0, 0, 0, 0.4);
    padding: 11px 16px;
    &:not(:first-child) {
      border-left: 1px solid rgba(0, 0, 0, 0.05);
    }
    @include fs12;
  }

  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgba(247, 249, 251, 1);
    }
  }

  .bodyColumn {
    flex: none;
    padding: 11px 16px;
  }

  .userWrapper {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .client {
    display: inline-block;
    color: rgba(89, 168, 212, 1);
    background-color: rgba(226, 245, 255, 1);
    padding: 0 6px;
    border-radius: 18px;
  }

  .candidate {
    display: inline-block;
    color: rgba(138, 140, 217, 1);
    background-color: rgba(237, 237, 255, 1);
    padding: 0 6px;
    border-radius: 18px;
  }
}

.paginationWrapper {
  margin-top: 20px;
}
