.container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px solid rgba(31, 31, 31, 0.18);
  margin: 11px 40px;
  z-index: -1;
}

.item {
  width: 60px;
  .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(31, 31, 31, 0.18);
    background-color: white;
    margin: 0 auto;
  }

  .label {
    text-align: center;
    @include fs12;
    margin-top: 8px;
    color: rgba(31, 31, 31, 0.36);
  }

  &.active {
    .circle {
      border: 7px solid #2656c9;
    }
    .label {
      color: #1f1f1f;
    }
  }
}
