.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.inner {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.headerContainer {
  display: flex;
}

.linkItem {
  @include fs20b;
  margin: 0 12px;
}

.signUpBtn {
  width: 150px;
  height: 56px;
  border-radius: 0;
  @include fs18b;
  background-color: #007aff;
  border-color: #007aff;
  margin-right: 30px;
  &:hover,
  &:focus {
    background-color: #007aff;
    border-color: #007aff;
  }
}

.logInBtn {
  width: 150px;
  height: 56px;
  border-radius: 0;
  color: #007aff;
  @include fs18b;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
  }
}
