.container {
  height: 100%;
  padding: 16px;
  background-color: #f6f8fc;
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  display: flex;
  align-items: center;
}

.tag {
  margin-left: 8px;
  padding: 1px 4px;
  border-radius: 6px;
  background-color: rgba(0, 122, 255, 0.12);
  color: rgba(0, 122, 255, 1);
}

.body {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  .menuContainer {
    flex: auto;
    .menu {
      padding: 0 16px;
      height: 48px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: #1c1c1c;
      }

      :global {
        .anticon {
          margin-right: 10px;
          font-size: 16px;
        }
      }

      &.selected {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .percentContainer {
    flex: none;
    .text {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

.footer {
  flex: none;
}

.menuWrapper {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 32px;

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .nameWrapper {
    margin-left: 10px;
  }
}
