.container {
  margin-top: 72px;
  min-width: $main-width;
}

.inner {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.linkItem {
  @include fs14;
  margin-bottom: 24px;
}
