.banner {
  background-color: #ecedff;
  min-width: $main-width;

  .bannerBlock {
    padding-top: 270px;
    padding-bottom: 180px;
    width: $inner-width;
    margin: auto;
    position: relative;
  }

  .bannerText {
    position: relative;
    text-align: center;
  }

  .title {
    @include fs48b;
  }

  .content {
    @include fs24;
    margin-top: 24px;
  }

  .purple {
    color: rgba(112, 0, 255, 1);
  }

  .bannerButton {
    @include bannerBtn;
    margin-left: auto;
    margin-right: auto;
  }

  .bannerBg {
    position: absolute;
    left: -24px;
    top: 85px;
    width: 100%;
  }

  .line {
    position: absolute;
    left: 476px;
    top: 536px;
    width: 180px;
  }
}

.secondBlockWrapper {
  min-width: $main-width;
  .block {
    width: $inner-width;
    margin: auto;
    padding: 100px 24px;
  }

  .bannerText {
    position: relative;
    z-index: 1;
    padding-top: 100px;
  }

  .blockTitle {
    @include fs40b;
  }

  .blockContent {
    @include fs24;
    margin-top: 24px;
    position: relative;
    height: 400px;
  }

  .blockBg {
    position: absolute;
    left: -24px;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .line {
    position: absolute;
    left: 164px;
    top: -25px;
    width: 320px;
  }
}

.themeBlock {
  &.bg {
    background-color: #f5f6ff;
  }
  .block {
    padding: 154px 24px 100px;
    display: block !important;
  }

  .center {
    text-align: center;

    img {
      width: 904px;
    }
  }

  .blockContent {
    margin-top: 40px !important;
  }

  img {
    margin-top: 40px;
    width: 100%;
  }
}

.howItWork {
  background-color: #f5f6ff;

  .howItWorkTitle {
    @include fs24b;
  }

  .stepContainer {
    position: relative;

    img {
      position: absolute;
    }
    .line3 {
      width: 163px;
      top: 45px;
      left: 735px;
    }

    .line4 {
      width: 344px;
      top: 265px;
      left: 80px;
    }

    .line5 {
      width: 178px;
      top: 570px;
      left: 665px;
    }
  }

  .item {
    @include fs40;
    margin-top: 150px;

    &.alignRight {
      text-align: right;
    }

    & > div {
      display: inline-flex;
    }

    .index {
      color: rgba(112, 0, 255, 1);
      @include fs128b;
    }

    .content {
      text-align: left;
      margin-left: 20px;
    }
  }
}

.blockWrapper {
  min-width: $main-width;
  .block {
    width: $inner-width;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 24px;

    > div {
      flex: 1;
    }

    .right {
      margin-left: 35px;
    }
  }

  .blockTitle {
    @include fs40b;
  }

  .blockContent {
    @include fs24;
    margin-top: 24px;
  }

  &.gray {
    background-color: #f8f8f8;
  }
}

.createProfileWrapper {
  background-color: #f6f6f6;

  .block {
    display: block;
    text-align: center;
  }

  .createButton {
    width: 404px;
    height: 100px;
    border-radius: 20px;
    @include fs24b;
    background-color: #007aff;
    border-color: #007aff;
    &:hover,
    &:focus {
      background-color: #007aff;
      border-color: #007aff;
    }
  }
}
