.container {
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 249, 251, 1);
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.main {
  width: 560px;
  padding: 100px 85px;
  background-color: white;
  border-radius: 16px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  @include fs24b;
}

.inputWrapper {
  margin-top: 16px;
  & > input {
    border-radius: 8px;
  }
}

.mainBtn {
  width: 100%;
  margin-top: 24px;
}

.hint {
  margin-top: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.link {
  color: rgba(0, 122, 255, 1);
}
