.banner {
  height: 900px;
  padding-top: 215px;
  background-color: #f2fcff;

  .innerBlock {
    position: relative;
    height: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 120px;
  }

  .bannerImg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1400px;
  }

  .bannerStar {
    position: absolute;
    top: 126px;
    left: 717px;
  }

  .bannerLine {
    position: absolute;
    top: 60px;
    left: 350px;
  }

  .bannerFree {
    position: absolute;
    top: 500px;
    left: 530px;
  }

  .title {
    @include fs48b;
  }

  .text {
    position: relative;
  }

  .body {
    @include fs24;
    margin-top: 45px;
  }

  .line {
    margin-bottom: 15px;
    @include fs24;
  }

  .firstLetter {
    @include fs24b;
    color: rgba(0, 122, 255, 1);
  }
}

.profileBlock {
  .blockTitle {
    @include fs40b;
    text-align: center;
  }

  .blockContent {
    @include fs24;
    text-align: center;
    position: relative;
  }

  .profileCircle {
    position: absolute;
    top: 56px;
    left: 493px;
    z-index: -1;
  }

  .profileWrapper {
    width: 715px;
    height: 759px;
    overflow: auto;
    margin: 112px auto 0;
    &::-webkit-scrollbar {
      display: none;
    }
    .profile {
      width: 100%;
    }
  }
}

.endorsementWrapper {
  background-color: rgba(234, 238, 255, 1);

  .blockTitle {
    width: 667px;
    .blue {
      color: rgba(0, 122, 255, 1);
    }
  }

  .blockContent {
    width: 495px;
  }

  .endorsementImg {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .endorsementSymbol1Img {
    position: absolute;
    left: 60px;
    top: 90px;
  }

  .endorsementSymbol2Img {
    position: absolute;
    left: 440px;
    bottom: 50px;
  }
}

.bannerButton {
  width: 404px;
  height: 100px;
  border-radius: 20px;
  @include fs24b;
  margin-top: 44px;
  background-color: #007aff;
  border-color: #007aff;
  &:hover,
  &:focus {
    background-color: #007aff;
    border-color: #007aff;
  }

  &.footer {
    margin: 180px auto 140px;
  }
}

.blockTitle {
  @include fs60b;
}

.blockContent {
  @include fs24;
  margin-top: 57px;
}

.blockWrapper {
  min-width: 1440px;
  &.gray {
    background-color: rgba(245, 245, 245, 0.72);
  }
}

.block {
  width: 1440px;
  margin: auto;
  padding: 120px;
  position: relative;

  > div {
    flex: 1;
  }

  .right {
    margin-left: 55px;
  }
}
