.form {
  // :global(.ant-form-item) {
  //   margin-bottom: 28px;
  // }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .title {
    @include fs18b;
  }

  .hideBtn {
    color: rgba(0, 122, 255, 1);
    cursor: pointer;
    @include fs16;
  }

  .expWrapper {
    background-color: rgba(247, 249, 251, 1);
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 28px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.4);
    @include fs14;
  }

  .footerBtn {
    background-color: rgba(28, 28, 28, 1);
    color: white;
    border: none;
  }
}
