@mixin wrapper {
  margin-top: 10px;
  .titleContainer {
    display: flex;
    align-items: center;
    padding-top: 80px;
    justify-content: space-between;
    position: relative;
    top: 10px;
  }

  .title {
    @include fs40b;
    color: white;
    border-radius: 57px;
    border: 4px solid white;
    padding: 15px 20px;
    transform: rotate(-4deg);
  }
}
