@font-face {
  font-family: Montserrat;
  src: url('/Montserrat.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('/Montserrat-Bold.ttf');
}

@font-face {
  font-family: SpaceGrotest;
  src: url('/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: SpaceGrotest-Bold;
  src: url('/fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
  font-family: SpaceGrotest-Light;
  src: url('/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: SpaceGrotest-Medium;
  src: url('/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: SpaceGrotest-SemiBold;
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  color: rgba(31, 31, 31, 1);
  font-family: 'SpaceGrotest', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-btn {
  border-radius: 6px;
}

.blackBtn {
  background-color: rgba(28, 28, 28, 1);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}

.saveFooter {
  border-top: 1px solid rgba(231, 231, 231, 1);
  border-bottom: 1px solid rgba(231, 231, 231, 1);
  padding: 18px;
  margin-top: 30px;
}
